.FormAdminContainer {
  height: 100%;
  max-height: 1000px;
  margin: auto;
  padding: 0 80px;
}
.FormAdminTitle {
  text-align: left;
}
.inputs-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inputs {
  width: 45%;
}
@media screen and (max-width: 470px) {
  .inputs {
    width: 100%;
  }
  .inputs-div {
    flex-wrap: wrap;
  }
}
hr {
  margin-top: 15px;
  border: 1px solid rgb(104, 97, 97);
}
@media screen and (max-width: 470px) {
  .FormAdminContainer {
    padding: 0 20px;
  }
}
